/* General Styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    background-image: url('img/triang.jpg');
    color: #fff;
}
.header {
    text-align: center; /* Centra el texto en el encabezado */
    padding: 20px 0; /* Espaciado arriba y abajo */
  /*  background-color: #408ddb; /* Color de fondo para el encabezado */
    color: #ffffff; /* Color del texto */
}

.header-title {
    font-size: 2.5rem; /* Tamaño de la fuente del título */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.social-links {
    display: flex; /* Utiliza flexbox para alinear los enlaces */
    justify-content: center; /* Centra los enlaces horizontalmente */
    gap: 20px; /* Espacio entre los iconos */
}

.social-links img {
    width: 30px; /* Ancho de los iconos sociales */
    height: 30px; /* Alto de los iconos sociales */
    transition: transform 0.3s; /* Animación para el hover */
}

.social-links a:hover img {
    transform: scale(1.1); /* Aumenta el tamaño del icono al pasar el ratón */
}

@media (max-width: 768px) {
    .header-title {
        font-size: 2rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }

    .social-links img {
        width: 25px; /* Tamaño más pequeño para los iconos en pantallas pequeñas */
        height: 25px;
    }
}

.personal-info {
    padding: 40px 0;
    text-align: center; /* Centra el texto en la sección */
}

.profile {
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido del perfil */
    justify-content: center; /* Centra horizontalmente el contenido del perfil */
    gap: 30px; /* Espacio entre la imagen y la información */
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffffff;
}

.info {
    max-width: 600px; /* Limita el ancho de la información */
}

.info h3 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.info hr {
    width: 50px;
    border: 2px solid #ffffff;
    margin-bottom: 20px;
}

.info p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 8px;
}

.info a {
    color: #ffffff;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .profile {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
        align-items: center; /* Alinea elementos al centro */
        text-align: center; /* Centra el texto */
    }

    .profile-picture {
        margin-bottom: 20px;
    }

    .info {
        max-width: 100%; /* Permite que la información ocupe el 100% en pantallas pequeñas */
    }
}



.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 16px;
}
.header {
    display: flex; /* Usar flexbox para organizar el contenido */
    justify-content: space-between; /* Separar el título y los íconos */
    align-items: center; /* Alinear verticalmente el contenido */
    padding: 10px 20px; /* Espaciado interno */
    /*background-color: #1752d1; /* Color de fondo de la cabecera */
    position: relative; /* Permitir la posición absoluta de los iconos */
}

.header-title {
    font-size: 2em; /* Tamaño de fuente del título */
    margin: 0; /* Eliminar el margen */
}

.social-links {
    display: flex; /* Usar flexbox para alinear los iconos */
    gap: 15px; /* Espaciado entre los iconos */
    position: absolute; /* Permitir posicionar en el lado superior derecho */
    top: 10px; /* Ajustar la distancia desde la parte superior */
    right: 20px; /* Ajustar la distancia desde la derecha */
}

.social-links img {
    width: 40px; /* Tamaño de los iconos */
    height: 40px; /* Tamaño de los iconos */
    transition: transform 0.3s; /* Agregar efecto de transición */
}

.social-links img:hover {
    transform: scale(1.1); /* Aumentar el tamaño del icono al pasar el ratón */
}



/* Personal Information */
.personal-info {
    padding: 40px 0;
    text-align: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffffff;
}

.info {
    max-width: 600px;
    margin-top: 20px;
}

.info h3 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.info p {
    font-size: 1.2rem;
    color: #ffffff;
}

.info a {
    color: #adc8e5;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}

hr {
    border: 1px solid #fff;
    margin: 10px 0;
}

/* Section Titles */
h3 {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Lists */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-top: 10px;
}

/* Skills Section */
.skills {
    padding: 40px 0;
    text-align: center;
}

.skills h3 {
    color: #ffffff;
    margin-bottom: 20px;
}

.skills ul li {
    font-size: 1.25rem;
    color: #f9f8ff;
    background: #2f1d38;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Experience Section */
.experience {
    padding: 40px 0;
}

.experience h3 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.experience hr {
    width: 60px;
    margin: 0 auto 30px;
    border: 2px solid #b33030;
}

.job h4 {
    font-size: 1.75rem;
    color: #f700ff;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.job p {
    font-size: 1.2rem;
    color: #d3caf8;
}

/* Education Section */
.education {
    padding: 40px 0;
}

.education h3 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.education hr {
    width: 60px;
    margin: 0 auto 30px;
    border: 2px solid #ffffff;
}

.education-item h4 {
    font-size: 1.75rem;
    color: #ffffff;
    margin-bottom: 5px;
}

.education-item p {
    font-size: 1.2rem;
    color: #60ffea;
}

/* Responsiveness */
@media (max-width: 768px) {
    .header-title {
        font-size: 24px;
    }

    .social-links a {
        font-size: 18px;
    }

    .profile {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-picture {
        width: 140px;
        margin-bottom: 20px;
    }

    .info {
        max-width: 100%;
    }

    .info p {
        font-size: 18px;
    }

    h3 {
        font-size: 2rem;
    }

    ul li {
        font-size: 1rem;
    }

    .skills h3,
    .experience h3,
    .education h3 {
        font-size: 2rem;
    }

    .job h4,
    .education-item h4 {
        font-size: 1.5rem;
    }

    .job p,
    .education-item p {
        font-size: 1rem;
    }
}
.objectives {
    padding: 40px 0;
    text-align: center;
    color: #ffffff;
}

.objectives h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.objectives p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .objectives h3 {
        font-size: 2rem;
    }

    .objectives p {
        font-size: 1rem;
    }
}

